Django
python-decouple
coverage
codecov
sphinx
sphinx-rtd-theme
gunicorn
djangorestframework
model_bakery
fontawesomefree
django-modeltranslation
django-registration
django-polymorphic
psycopg2-binary